# Virtual environment
venv/
MLproject_DU/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# MLflow
mlruns/

# Data (optionnel)
# *.csv


# Logs
*.log

# Streamlit
.streamlit/

# VSCode or PyCharm
.vscode/
.idea/

# MacOS
.DS_Store
